body{
	background-color: #1F1F1F;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 14pt;
	background-image: url(../Screen%20Shot%202023-03-16%20at%2012.25.15%20PM.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
#container{
	width: 1280px;
	height: auto;
	background-color: white;
	margin: auto;		
}
/*Float the Aside so it displays next to Main*/
aside {
	width: 150px;
	height: 3600px;
	background-color: #7082A9;
	float: left;
	font-size: 12pt;
}
header  {
	width: 768px;
	height: 250px;
	background-image: url(../image/gplogo.png);
	background-repeat: no-repeat;
	margin: auto;
	background-position: center
}
/*Float the Main so it show up next to the Aside. Reduce width by 150px so they both line up with header.*/
main {
	width: 1100px;
	height: 3680px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	float: left;
}
img {
	float: right;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 250px;
	height: 250px;
}
/*Clear the float so the footer shows up in the right place again*/
footer {
	background-color: #646464;
	height: 50px;
	clear: both;
	width: 1280px;
}
	h1{
	color: #57628E;
	font-family: politica, sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 24pt;
}


h3 {
	font-size: 12pt;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;

}
article {
	margin-bottom: 30px;
}
p {
	font-family: "canada-type-gibson", sans-serif;
font-weight: 400;
font-style: normal;
}
nav {
	width: 1280px;
	height: 50px;
	position: fixed;
	top: 0px;
	background-color: #FFFFFF;
}
#container nav li {
	display: block;
	list-style-type: none;
	float: left;
	width: 60px;
	margin-right: 60px;
	font-family: neonoir,sans-serif;
	font-size: 18pt;		
}
#container nav ul {
	margin: auto;
	width: 600px;
}
nav a:link {
	color: #73B6FF;
	padding: 18px;
	text-decoration: none;
}
nav a:visited {
	text-decoration: none;
	color: #58638E;
}
nav a:hover {
	text-decoration: none;
	color: #FFFCFC;
	background-color: #394A6C;
	padding: 18px;
	border-radius: 20px;	
}
nav a:active {
	text-decoration: none;
	color: #191919;
}
.submit_btn {
	width: 170px;
	height: 30px;
	border-radius: 10px;
	background-color: #C0E0FF;
	color: #58638F;
	font-size: 16px;
}


.submit_btn:hover{
	
	-webkit-box-shadow: 6px 6px 35px 1px #000000;
	box-shadow: 6px 6px 35px 1px #000000;
}
.column {
	width: 250px;
	height: 750px;
	float: left;
	margin-left: 40px;
	margin-right: 20px;
}
body {
}
/*Rules the page will follow for tablet-sized devices*/
@media (max-width:1024px){
	#container {
		width:768px;
	}
	header{
		width:768px;
	}
	nav{
		width:768px;
	}
	main{
		width:598px;
	}
	footer{
		width: 768px;
	}
	.column{
		margin:0px 20px 0px 25px;
	}
}
/*Rules the page will follow on mobile devices*/
@media only  screen and (max-width:375px){
	
	#container {
		width:300px;
	}
	header{
		width:300px;
		background-image:url("../gplogo.png")
	}
	nav{
		width:300px;
		height:200px;
		position:static
	}
	main{
		width:300px;
	}
	footer{
		width: 768px;
	}
	aside{
		display:none;
	}
	#container nav li{
		display: list-item;
		list-style-type: none;
		float:none;
		margin: 0px 0px 20px 0px;
		width: 260px;
		text-align: center;
		
		
	}	
}
.cclicense{
	width: 500px;
	height:20px;
	clear: both;
	padding:50px 0px 0px 0px	
		
}
video {
	width: 600px;
	height: 600px;
}
